@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
* {
  font-family: "PT Mono", monospace;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

header {
  width: calc(100vw - 100px);
  border-bottom: 1px solid #eeeeee;
  margin: 0px 50px;
  color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
header h3 {
  margin: 30px 60px 30px 60px;
  font-size: 50px;
  font-weight: 300;
}
header nav {
  margin-bottom: -15px;
}
header nav a {
  text-decoration: none;
  color: #eeeeee;
  margin: 0px 30px;
  font-size: 19px;
}

@keyframes textAnimation {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1000px;
  }
}
.main_welcome {
  overflow: hidden;
  width: calc(100vw - 100px);
  margin: 0px 50px;
}
.main_welcome h4 {
  margin-top: 80px;
  padding-bottom: 25px;
  font-size: 35px;
  white-space: nowrap;
  overflow: hidden;
  color: #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.main_welcome h4 span {
  animation: textAnimation 7s infinite linear;
}

.main_welcome_topArts {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.main_welcome_topArts .main_welcome_topArts_topArt {
  margin-right: 50px;
  position: relative;
}
.main_welcome_topArts .main_welcome_topArts_topArt .main_welcome_topArts_topArt_textContent {
  position: absolute;
  top: -80px;
}
.main_welcome_topArts .main_welcome_topArts_topArt .main_welcome_topArts_topArt_textContent .main_welcome_topArts_topArt_textContent_header h1 {
  font-size: 180px;
}
.main_welcome_topArts .main_welcome_topArts_topArt .main_welcome_topArts_topArt_textContent .main_welcome_topArts_topArt_textContent_info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #eeeeee;
  font-size: 20px;
}
.main_welcome_topArts .main_welcome_topArts_topArt .main_welcome_topArts_topArt_textContent .main_welcome_topArts_topArt_textContent_info p {
  padding: 6px;
  margin: 5px;
}
.main_welcome_topArts .main_welcome_topArts_topArt .main_welcome_topArts_topArt_textContent .main_welcome_topArts_topArt_textContent_info .main_welcome_topArts_topArt_textContent_info-name {
  background: #0092ca;
}
.main_welcome_topArts .main_welcome_topArts_topArt .main_welcome_topArts_topArt_textContent .main_welcome_topArts_topArt_textContent_info .main_welcome_topArts_topArt_textContent_info-author {
  background: #393e46;
}
.main_welcome_topArts .main_welcome_topArts_topArt .main_welcome_topArts_topArt_image img {
  height: 700px;
}

.image {
  height: 300px;
}

.main_allArts {
  margin: 0px 50px;
  width: calc(100vw - 100px);
}
.main_allArts .main_allArts_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 20px;
  border-bottom: 1px solid #eeeeee;
}
.main_allArts .main_allArts_header h2 {
  color: #eeeeee;
  font-size: 35px;
}
.main_allArts .main_allArts_header button {
  margin-left: 50px;
  font-size: 18px;
  cursor: pointer;
  background: none;
  color: #eeeeee;
}
.main_allArts .main_allArts_arts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.main_allArts .main_allArts_arts .main_allArts_arts_art {
  margin-top: 30px;
  width: 30vw;
}
.main_allArts .main_allArts_arts .main_allArts_arts_art .main_allArts_arts_art_image {
  width: 100%;
  height: 300px;
  background-color: #393e46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_allArts .main_allArts_arts .main_allArts_arts_art .main_allArts_arts_art_image img {
  height: 100%;
  max-width: 100%;
}
.main_allArts .main_allArts_arts .main_allArts_arts_art .main_allArts_arts_art_textContent h1 {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  color: #eeeeee;
}
.main_allArts .main_allArts_arts .main_allArts_arts_art .main_allArts_arts_art_textContent .main_allArts_arts_art_textContent-p--author {
  margin: 20px 0px 10px 0px;
  color: #eeeeee;
}
.main_allArts .main_allArts_arts .main_allArts_arts_art .main_allArts_arts_art_textContent .main_allArts_arts_art_textContent-p--material {
  margin: 10px 0px 10px 0px;
  color: #0092ca;
}
.main_allArts .main_allArts_arts .main_allArts_arts_art button {
  font-size: 20px;
  color: #eeeeee;
  background: none;
  cursor: poiter;
}

body {
  background: #222831;
}/*# sourceMappingURL=style.css.map */