.showArtDetail
    margin: 100px 50px
    width: calc( 100vw - 100px )
    position: relative

    .showArtDetail_textContent
        @include flexDisplay (column, end, start)

        h1,h2,p
            padding-left: 20%
            width: 100%
            @include flexDisplay (column, center, start)

        h1
            height: 120px
            font-size: 80px
            color: $white
            border-bottom: 1px solid $white

        .authorDetail
            margin: 20px 0px
            font-size: 30px
            color: $white

        .mediumDetail
            margin-bottom: 20px
            color: $blue

        .typeDetail
            margin-bottom: 60px
            color: $blue



    .showArtDetail_image
        @include flexDisplay (column, center, center)
        background-color: $light-gray
        height: 50vh
        img
            height: 100%

    button
        font-size: 60px
        position: absolute
        top: 25px
        right: 0px

        background: none
        color: $blue
        cursor: pointer
